{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}
{% block content %}
	<h1>{{ object.title }} <small>{{ object.tagline }}</small></h1>
	<p>{{ object.short_description }}</p>
	{% if project.pypi_url %}
		<a class="btn" href="{{ project.pypi_url }}">download package</a>
	{% endif %}
	{% if project.repo_url %}
		<a class="btn" href="{{ project.repo_url }}">sourcecode</a>
	{% endif %}
	{% if project.docs_url %}
		<a class="btn" href="{{ project.docs_url }}">documentation</a>
	{% endif %}
	<ul>
		{% for contributor in project.contributors.all %}
		<li><img src="{{ contributor.person.avatar }}" style="float: left; width: {% if contributor.is_core %}40px{% else %}20px{% endif %}" /></li>
		{% endfor %}
	</ul>
	<dl>
		<dt>current release</dt>
		<dd>{{ object.pypi_latest_version }}</dd>

		<dt>downloads</dt>
		<dd>{{ object.pypi_downloads }}</dd>

		<dt>watchers</dt>
		<dd>{{ object.repo_watchers }}</dd>

		<dt>forks</dt>
		<dd>{{ object.repo_forks }}</dd>
	</dl>
{% endblock %}